.navi{
    height: 7vh;
    width: 100vw;
    background-color: rgb(191, 163, 163);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-radius: 2vh;
    position: fixed;
}


/*for the logo*/
.logo{
    margin-left: 3vh;
    background-color: aqua;
    cursor: pointer;
}


/* for navigation */
.navs{ 
    height: 6vh;
    display: flex;
    align-items: center;
}
.navs ul{
    flex: 1;
    list-style: none;
    text-align: center;
}
.navs ul #top{
    display: inline-block;
    margin: 8vh;
    cursor: pointer;
    font-size: 3vh;
    
}

.search-box{
    text-align: center;
    border: none;
    border-radius: 2vh;
}

.Post-ad:hover{
    text-decoration: underline;
}

/* For the theme */
.theme{
    background-color: green;
    height: 4vh;
    width: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    
    
}

/* Signup- login section */
.user{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 4vh;
    height: 5vh;
    width: 12vh;
   
}
.LogIn-btn{
    height: 3vh;
    width: 5vh;
    border: none;
    border-radius: 1vh;
    font-size: 1.5vh;
    cursor: pointer;
}

.LogIn-btn:hover{
    background-color: blanchedalmond;
}






