.navi{
    height: 7vh;
    width: 100vw;
    background-color: rgb(191, 163, 163);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
    
}

.navs{
    height: 6vh;
    display: flex;
    align-items: center;
    background-color: brown;
}

.navs ul{
    flex: 1;
    list-style: none;
    text-align: center;
}
.navs ul li{
    display: inline-block;
    margin: 3vh;
    cursor: pointer;
    font-size: 3vh;
}


.user{
    height: 3vh;
    background-color: blueviolet;
}

